section {
  background-color: #eee;
  // .container {
    // background-color: #eee;
    // .row {
      // background-color: #eee;
      aside {
        background-color: rgb(168, 167, 167);
        // ul{

        // }
      }
      .home {
        background-color: rgb(221, 184, 184);

        .test {

          height: 200px ;
          border-radius: 50%;
          background-color: #000;
          .image {
            height: 100% !important;
          }
        }
      // }
    // }
  }
}
// td {
//   max-height: 100px !important;
// }
// .test {

//   height: 200px !important;
//   border-radius: 50%;
//   background-color: #000;
//   .image {
//     height: 100% !important;
//   }
// }
