<div class="container" >
<!-- <form> => not working -->
  <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email"  [(ngModel)]= "emailLogin">
  </div>
  <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]= "passwordLogin" >
  </div>
  <div class="form-group">
      <label class="form-check-label"><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="login();logginToggle()">Sign in</button>
<!-- </form> -->
<!-- Source:www.tutorialrepublic.com -->
</div>

